
<div class="row">
     <div class="span3 offset1">
      <p class="lead"><%= link_to(@link.title, @link) %></p>
      <p class="text-info"><%= @link.cuisine %></p>
      <p class="text-info"><%= @link.chef %></p>
    </div>
    <div class="span8">
      <p class="text-warning"><%= image_tag(@link.image) %></p>
    </div>
</div>

<br>
<% @link.comments.each do |comments| %>
  <div class="row">
    <div class="span3 offset1">
      <p class="lead"><%= comments.text %></p>
    </div>

    <div class="span8">
      <% comments.ingredients.each do |ingredient| %>
        <%= ingredient.name %>
        <%= image_tag(ingredient.image,  size: "40x40") %>
      <% end %>
    </div>
   </div>
<% end %>

