<!DOCTYPE html>
<html>
<head>
  <title>HackerNews</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- <ul class="nav nav-pills">
  <li><%= link_to('New Post', new_link_path) %></li>

  <li><%= link_to('Delete Post', @link, :method => :delete, :confirm => 'Are you sure?') %></li>

</ul> -->


<%= yield %>
<footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; GA West.</p>
        </div>
      </div>
    </div> 
  </footer>
</body>
</html>
